/*dark*/
* {
    -fx-background-color: #1E1E1E !important;
    -fx-text-fill: white !important;
}

.adminAxis {
    -fx-tick-label-fill: white !important;
}

.change {
    -fx-border-color: white !important;
    -fx-border-width: 1.2 !important;
}

Text {
    -fx-fill: white !important;
}

.adminSidebar {
    -fx-border-color: white !important;
    -fx-border-style: solid !important;
}

.navbar {
    -fx-border-color: white !important;
    -fx-border-width: 0 0 1.2 0 !important;
    -fx-border-style: none none solid none !important;
}

.profSidebar {
    -fx-border-color: white !important;
    -fx-border-width: 0 1.2 0 0 !important;
    -fx-border-style: none solid none none !important;
}

.icon {
    -fx-fill: white
}


.table-view .table-cell {
    -fx-border-width: .5 !important;
    -fx-border-color: white !important;
    -fx-border-style: solid !important;
}
